html {
  font-size: 10px;
  background: white;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.images {
  width:50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top:30%;
}

.image-items {
              width: 50%;
              height: 50%;
          }
